<!DOCTYPE html>
<html>
<title>Index</title>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

   <header>
      <div class="overlay">

         <div class='row no-gutter'>
            <div class='col-md-6 hidden-sm text-center hidden-xs'>
               <p>Dallas</p>
            </div>
            <div class='col-md-6 col-xs-12'>
               <ul class='list-unstyled list-inline text-center'>
                  <li>About</li>
                  <li>Search</li>
                  <li><i class='glyphicon glyphicon-search'></i>
                  </ul>
               </div>
               <h1 class='text-center'>Hello World</h1>

            </div>

         </header>

<div class='container padding-btm'>

   <content>
   <div class='row'>
      <div class='col-md-12 col-md-12'>
   <h1>Something interesting!</h1>
<p>Bacon ipsum dolor amet tenderloin leberkas ground round hamburger, flank pastrami filet mignon cow turducken tail beef ribs picanha. Pork belly bacon pork chop ball tip, pancetta filet mignon pork loin frankfurter. Sirloin fatback bacon capicola sausage. Beef fatback pork loin, meatball corned beef leberkas sirloin porchetta ground round. Ground round capicola tongue sirloin porchetta rump.</p>

<p>Bresaola pancetta swine ribeye, jowl picanha short loin shank pork belly prosciutto. Pig tongue turkey sirloin cow pastrami pork belly ham short loin filet mignon. Pork chop short loin t-bone pork belly boudin shankle filet mignon swine, turkey tri-tip venison tenderloin capicola. Filet mignon boudin porchetta, flank rump spare ribs meatball venison ham hock swine leberkas prosciutto beef ribs jerky sirloin.</p>
</div>
</div>
</content>


</div>

<footer>
   <div class='container-fluid'>
   <div class='col-md-12 col-xs-12'>

      <div class='row'>
         <h1 class='text-center'>Feed me more bacon!</h1>
         <p>Cow ham hock biltong chicken, pig strip steak sausage fatback meatloaf ground round ham leberkas capicola meatball. Pig pork short ribs andouille jowl, kevin shoulder pork belly swine drumstick. Chicken sausage shank doner leberkas short loin tongue pastrami landjaeger. Turducken frankfurter spare ribs tongue shankle doner. Pastrami pork beef ribs meatloaf jerky capicola sausage kielbasa cupim drumstick tenderloin. T-bone shankle flank hamburger. Venison hamburger meatball, beef picanha spare ribs alcatra tri-tip beef ribs pig.</p>
      </div>



</div>
</div>
</footer>

</body>
</html>
