<!DOCTYPE html>
<html>
<title>Index</title>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
</head>
<body>

   <header>
      <div class="overlay">

         <div class='row no-gutter'>
            <div class='col-md-6 hidden-sm text-center hidden-xs'>
               <p>Dallas</p>
            </div>
            <div class='col-md-6 col-xs-12'>
               <ul class='list-unstyled list-inline text-center'>
                  <li>About</li>
                  <li>Search</li>
                  <li><i class='glyphicon glyphicon-search'></i>
                  </ul>
               </div>
               <h1 class='text-center'>I Miss home</h1>
               <h2 class='text-center'>home sweet home</h2>

            </div>

            <div class='row no-gutter'>
            <div class='bar text-center'>
               <div class='over'>
                  <h3>The premier source for bacon!</h3>
               </div>
            </div>
         </div>
         </header>




</body>
</html>
